@import "tailwindcss";

@font-face {
  font-family: 'montserratregular';
  src: url('/src/assets/fonts/montserratregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('/src/assets/fonts/latolight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ppneuemontrealmedium';
  src: url('/src/assets/fonts/ppneuemontrealmedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ppneuemontrealbold';
  src: url('/src/assets/fonts/ppneuemontrealbold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('/src/assets/fonts/latobold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mademirageblack';
  src: url('/src/assets/fonts/mademirageblack.otf') format('opentype');
  
}

@font-face {
  font-family: 'grainedregular';
  src: url('/src/assets/fonts/grainedregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LibreBaskervilleBold';
  src: url('/src/assets/fonts/LibreBaskervilleBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url('/src/assets/fonts/PlayfairDisplayBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family:  PlayfairDisplayBold;
  
  
  width: 100%;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
 
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
  button {
    background-color: #f9f9f9;
  }
}
